<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    
    <dubbo:registry address="${dubbo.consumer.address}" />	
	<!-- 充值能力接口
	<dubbo:reference id="payfundDubbo"	interface="com.lemon.pgwfund.rs.PayFundDubboInterFace" check="false" timeout="45000" retries="0" connections="50" actives="50"/> -->
</beans>